<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0">
      <h2 class="main_title">Les personnages de Star Wars classés par épisodes</h2>
    </span>
  </div>
</nav>

<div class="container">
<% @data.each do |film| %>
  <div class="row mt-5">
    <h4 class="film_title"><%= film['film_title'] %></h4>

    <% film['filtered_characters'].each do |character| %>
      <div class="card col-lg-3">
        <h5 class="card-header"><%= character['name'] %></h5>
        <div class="card-body">
          <p class="card-text">
            Poids : <%= character['mass'] %>kg
            </br>
            Planète d'origine : <%= character['homeworld_name'] %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
